html, body {
  background: maroon;
  margin: 25px 0;
}

main {
  background: white;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
}

h1 {
  color: rgb(72, 155, 127);
}

input[type="number"] {
  width: 80px;
  height: 30px;
  border: 1px solid lightgray;
  vertical-align: middle;
  box-sizing: border-box;
  font: normal 24px monospace;
}

input[type="submit"] {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid lightgray;
}

fieldset {
  border: none;
}